@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<div class="card shadow border-0 rounded offset-3 col-6 mt-5">
    <div class="card-header">
        <div class="row p-3">
            <h2 class="text-info">Change Password</h2>
        </div>
    </div>
    <div class="card-body p-0">
        <form method="post" asp-controller="Home" asp-action="ChangePassword">
            <div class="row p-3">
                <div class="border-0">
                    <div class="form-floating py-2 col-12 mb-3">
                        <input asp-for="CurrentPassword" class="form-control border-0 shadow rounded" />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        <label asp-for="CurrentPassword" class="ms-0"></label>
                    </div>
                    <div class="form-floating py-2 col-12 mb-3">
                        <input asp-for="NewPassword" class="form-control border-0 shadow rounded" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                        <label asp-for="NewPassword" class="ms-0"></label>
                    </div>
                    <div class="form-floating py-2 col-12 mb-3">
                        <input asp-for="ConfirmNewPassword" class="form-control border-0 shadow rounded" />
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        <label asp-for="ConfirmNewPassword" class="ms-0"></label>
                    </div>
                    <div class="row mt-4">
                        <div class="col-6">
                            <button type="submit" class="form-control btn btn-warning rounded shadow">Change Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}