@{
    ViewData["Title"] = "Home Page";
}

<div class="card border-0 rounded offset-2 col-8 mt-4">
    <div class="card-header">
        <div class="row">
            <h2 class=" text-info text-center">Welcome to Library</h2>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="border p-3">
            <div class="col-11 mx-auto">
                <img class="d-block mx-auto" src="~/images/library/library.jpg" style="width:100%; height:100%" />
                <a asp-controller="Book" asp-action="Index" class="btn btn-outline-info mt-3 col-12 fw-bold">Click here to go to book list</a>
            </div>
        </div>
    </div>
</div>


