
<div class="modal fade" id="createBorrowerModal" tabindex="-1" role="dialog" aria-labelledby="createBorrowerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header card-header">
                <h5 class="modal-title text-info" id="createBorrowerModalLabel">Create New Borrower</h5>
                <button type="button" class="close shadow rounded" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mx-0">
                    <span class="bg-danger text-white rounded shadow">NOTE: Please share Library Borrower Id with the borrower.</span>
                </div>
                <form id="addBorrowerForm">
                    <div class="mt-3">
                        <div class="form-floating py-2 col-12 mb-3">
                            <input type="text" id="name" name="name" class="form-control rounded shadow" />
                            <label for="name" class="ms-0">Name</label>
                            <span id="nameValidation" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="form-floating py-2 col-12 mb-3">
                            <input type="text" id="libraryBorrowerId" name="libraryBorrowerId" class="form-control rounded shadow" readonly/>
                            <label for="libraryBorrowerId" class="ms-0">Library Borrower Id</label>
                            <span id="libraryBorrowerIdValidation" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="submitBtn" class="btn btn-info shadow">Create Borrower</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>