@model AddBookViewModel


<div class="row mt-2">
    <div class="col-md-6">
        <div class="form-floating py-2 col-12 mb-4">
            <input asp-for="Name" class="form-control border-0 shadow rounded" />
            <label asp-for="Name" class="ms-0"></label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-floating py-2 col-12 mb-4">
            <input asp-for="ISBN" class="form-control border-0 shadow rounded" />
            <label asp-for="ISBN" class="ms-0"></label>
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-floating py-2 col-12 mb-4">
            <input asp-for="AuthorName" class="form-control border-0 shadow rounded" />
            <label asp-for="AuthorName" class="ms-0"></label>
            <span asp-validation-for="AuthorName" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-floating py-2 col-12 mb-4">
            <input asp-for="ImageUrl" type="file" name="file" class="form-control border-0 shadow rounded" />
            <label asp-for="ImageUrl" class="ms-0"></label>
        </div>
    </div>
</div>

